table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
     text-align: left;
    text-align: left;
    padding: 6px;
  }
#container {
@@ -19,4 +19,4 @@ table {

p{
    color: grey;
}
}
}
/* Your CSS Code here. */